[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=zdsindicator
Icon=icons/zdsindicator-icon
Name=ZdsIndicator
Comment=Notifications Zeste de Savoir
Categories=Internet;Network;
